extends ./settings

block settings
    .input-field
        select#deck-select
        label Deck

    .container#deck

    .fixed-action-btn.no-autoinit
        a.btn-floating.btn-large.green
            i.large.material-icons menu
        ul
            li
                button(data-target="modalDelete").btn-floating.red.modal-trigger
                    i.material-icons delete
            li
                button(data-target="modalAdd").btn-floating.blue.modal-trigger
                    i.material-icons add

    #modalEdit.modal
        .modal-content
            .row
                form.col.s12
                    .row
                        .input-field.col.s12
                            input#title(type="text" name="text" minlength=1 required).validate
                            label(for="title") Text
                    .row
                        .input-field.col.s8
                            input#image(type="text" name="image").validate
                            label(for="image") Image
                            span.helper-text File URL or upload
                        .input-field.col.s4
                            input#upload(type="file" accept="image/*" multiple=false)
                    .row
                        .input-field.col.s12
                            select#type(name="type" required).validate
                            label(for="type") Type
                    #customs
        .modal-footer
            a#remove.modal-close.waves-effect.waves-red.btn-flat Remove
            a.modal-close.waves-effect.waves-grey.btn-flat(href="#!") Cancel
            a#save.modal-close.waves-effect.waves-green.btn-flat Save

    #modalDelete.modal
        .modal-content
            h4 Are you sure you want to delete:
        .modal-footer
            button(data-target="modalDelete").modal-close.waves-effect.waves-grey.btn-flat Cancel
            a#delete.modal-close.waves-effect.waves-red.btn-flat Yes

    #modalAdd.modal
        .modal-content
            h4 Create new deck
            .row
                form.col.s12
                    .row
                        .input-field.col.s12
                            input#name(type="text" name="name" minlength=1 required).validate
                            label(for="name") Deck name
                    .row
                        .input-field.col.s6
                            input#x(type="number" min="1" name="x" value="10" required).validate
                            label(for="x") X
                        .input-field.col.s6
                            input#y(type="number" min="1" name="y" value="5" required).validate
                            label(for="y") Y
        .modal-footer
            button(data-target="modalAdd")#clearAdd.modal-close.waves-effect.waves-grey.btn-flat Cancel
            a#add.waves-effect.waves-green.btn-flat Save

    script(src="/javascripts/settings/decks.js")
