extends ./settings

block settings
    .input-field
        select#deck-select
        label Deck

    .container#deck

    #modal.modal
        .modal-content
            .row
                form.col.s12
                    .row
                        .input-field.col.s12
                            input#title(type="text" name="text" minlength=1 required).validate
                            label(for="title") Text
                    .row
                        .input-field.col.s8
                            input#image(type="text" name="image").validate
                            label(for="image") Image
                            span.helper-text File URL or upload
                        .input-field.col.s4
                            input#upload(type="file" accept="image/*" multiple=false)
                    .row
                        .input-field.col.s12
                            select#type(name="type" required).validate
                            label(for="type") Type
                    #customs
        .modal-footer
            a#remove.modal-close.waves-effect.waves-red.btn-flat Remove
            a.modal-close.waves-effect.waves-grey.btn-flat(href="#!") Cancel
            a#save.modal-close.waves-effect.waves-green.btn-flat Save

    script(src="/javascripts/settings/decks.js")
