extends ../layout

block content
    nav
        .nav-wrapper
            a.brand-logo.right(href="/") OpenDeck
            ul#nav-mobile.left.hide-on-med-and-down
                li(class=path==="/settings"? "active": "")
                    a(href="/settings") Decks
                li(class=path==="/settings/config"? "active": "")
                    a(href="/settings/config") Configuration
    block settings
