doctype html
html
  head
    title= "OpenDeck" + (title ? " - " + title: "")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="/javascripts/materialize.js")
    script(src="/socket.io/socket.io.js")
  body
    block content
